<!-- Navigation -->
{% load static %} 
{% block content %}

{% endblock %}   
<nav id="nav">
        <ul class="main-menu nav navbar-nav navbar-right">
        <li class="/"><a href="">Home</a></li>
        <li><a href="contect1">Contact</a></li>
        <li><a href="blog">Blog</a></li>
        {% if user.is_authenticated %}
        <li><a href="">Hello {{user.first_name}}</a></li>
        <li><a href="accounts/logout2">logout</a></li>
        {% else %}
        <li><a href="accounts/register">Registration</a></li>
        <li><a href="accounts/login">Login</a></li>
        {% endif %}
        <li><a href="admin">Admin</a></li>
        {% if request.user.is_superuser %}
        <li><a href="addblog">addblog</a></li>
        <li><a href="message">Message</a></li>
        {% comment %} <li><a href="search">Search</a></li> {% endcomment %}
        <li><a href="Dictionary">Search word</a></li>
        {% endif %}
    </ul>
</nav>
<!-- /Navigation -->

{% block content1 %}

{% endblock %}